[submodule ".vim/bundle/colors-solarized"]
	path = .vim/bundle/colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/funcoo"]
	path = .vim/bundle/funcoo
	url = https://github.com/rizzatti/funcoo.vim.git
[submodule ".vim/bundle/dash"]
	path = .vim/bundle/dash
	url = https://github.com/rizzatti/dash.vim.git
